<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="uk/gov/caz/logger/base.xml" />
    <logger name="org.springframework" level="WARN"/>

    <!-- Disable logging hibernate stats - we use only Statistics API -->
    <logger name="org.hibernate.engine.internal.StatisticalLoggingSessionEventListener"
      level="WARN"/>

    <!-- Please change the line below to INFO for debugging purposes of mockserver -->
    <logger name="org.mockserver" level="WARN"/>
</configuration>